.banner1{ width: 1100px;height: 60px; margin: 0 auto;margin-top: 10px; }
.banner1 img{ width: 1100px;height: 60px; }

/*左边部分*/
.zhuce_left{ width: 360px;margin: 40px 0 0 60px; float: left;}
.zhuce_left .zhuce_left_top button{ background: url(../img/NEWS_login.png) no-repeat -347px -211px;width: 103px;height: 29px;border: none;color: #fff;font-size: 16px;line-height: 29px;letter-spacing: 1px;margin: 8px 0 0 10px;cursor: pointer;}
.zhuce_left .zhuce_left_content{ width: 430px;height: 97px; float: left;margin-top: 8px;margin-left: -7px;position: relative; }
.zhuce_left .zhuce_left_content input{ float: left;width: 249px;height: 21px;}
.zhuce_left .zhuce_left_content button{ display: block;width: 70px;height: 22px;background: url(../img/footer00.png) no-repeat;float: left;margin: 2px 8px;border: none;cursor: pointer; }

/*右边部分*/
.zhuce_right{ height: 560px;width:675px;border-left: #DDD 1px dashed;margin: 30px 0 0 50px;padding-left: 50px; float: left;}
.zhuce_right a,span,div{ color: ;font-size: 12px; }
.zhuce_right .zhucefangshi{ width: 608px;border-bottom: #ddd 1px dashed;height: 100px;line-height: 50px;}
.zhuce_right .zhucefangshi .fangshi1{ width: 316px; height: 50px;} 
.zhuce_right .zhucefangshi button{background: url(../img/NEWS_login.png) no-repeat 0 -151px;width: 135px;height: 38px;border: none;display: block;line-height: 32px;float: left;text-align: center;font-size: 14px;margin-left: 10px;font-family: "微软雅黑"; cursor: pointer;}
.zhuce_right .zhucefangshi button.active{ background: url(../img/NEWS_login.png) no-repeat 0 -102px;color: #fff;}

    /*表单部分*/
.zhucefangshi div{ width:84px;height: 50px; line-height: 50px; }
.zhuce_right .yuan{ background: url(../img/NEWS_login.png) no-repeat 0 -326px;width: 22px;height: 22px;color: #fff;float: left;text-align: center;line-height: 22px;margin: 13px 8px 0 0;}
        
.zhuce_right li{ width: 100%; height: 33px;line-height: 33px; margin: 10px 0;}
        /*全部左浮动*/
.zhuce_right div{ float: left; }

        /*清除input选中时的边框*/
.zhuce_right .input,button{ outline: none; }
        
        /*请填写您的信息*/
.zhuce_right .biaodan .tianxie{ width: 100%;height: 50px;line-height: 50px; }

        /*手机注册*/
.zhuce_right .biaodan .shouji .fasong{background: url(../img/NEWS_login.png) no-repeat -256px -107px;width: 116px;height: 26px;line-height: 26px;text-align: center;margin: 3px 0 0 5px;color: #7b7b7b;border: none;  }
.zhuce_right .biaodan .shouji #qita{ color: red;cursor: pointer; }
        /*每行li左边的提示*/
.zhuce_right .biaodan .tishi1{ width: 115px;height: 33px; line-height: 33px; text-align: right;color: #393939;}
        /*单行的input下的淡色提示*/
.zhuce_right .biaodan .tishi2{ color: #7b7b7b; }
        /*input框*/
.zhuce_right .biaodan .input{ background: url(../img/shopping_login.png) no-repeat -0 -182px;width: 210px;height: 33px;border: none;float: left;text-indent: 5px;line-height: 33px; }
        /*同意协议*/
.zhuce_right .biaodan .dazi{ color: #393939;font-size: 16px; }
.zhuce_right .biaodan .dazi a{ color: red;font-size: 16px; }
        /*提交按钮*/
.zhuce_right .biaodan .tijiao{display: inline-block; background: url(../img/NEWS_login.png) no-repeat 0 -51px;width: 171px;height: 43px; line-height: 43px; text-align: center; border: none;font-size: 18px;color: #fff;margin: 10px 0 0 120px;cursor: pointer; outline: none;}
        /*每行后面的提示对错*/
.tips1,.tips2,.tips3,.tips4{ display: inline-block; width: 130px; height: 30px;  color: red;}
.tips_active{ background: url(../img/keyizhuce.gif) no-repeat 0 5px; }

    /*邮箱注册*/
.zhuce_right .biaodan .biaodan_msg{ position: relative; width: 602px;height: 420px;float: left;}
.zhuce_right .biaodan .biaodan_msg .youxiang{ position: absolute; top: 0;left: 0;background: #fff; width: 602px;height: 420px; display: none;}
.zhuce_right .biaodan .biaodan_msg .youxiang li{margin: 4px 0;}
.zhuce_right .biaodan .biaodan_msg .youxiang .youxiangyzmbox{ position: relative; }
.zhuce_right .biaodan .biaodan_msg .youxiang .youxiangyzm{ width: 100px;position: absolute;top: 2px; left: 210px;}